---
import Desktop from "../components/Desktop.astro";
import Mobile from "../components/Mobile.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<!-- Desktop -->
	<div class="desktop">
		<Desktop />
	</div>

	<!-- Mobile -->
	<div class="mobile">
		<Mobile />
	</div>
</Layout>

<style>
	/* Default = mobile */
	.desktop {
		display: none;
	}

	.mobile {
		display: block;
	}

	/* Desktop browsers only */
	@media (min-width: 1024px) {
		.desktop {
			display: block;
		}
		.mobile {
			display: none;
		}
	}
</style>
